.card {
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
}
.card * {
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

.program-card {
  width: 100%;
  border-radius: 24px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.program-card.p001 .program-card__info {
  padding: 32px 20px;
}

.program-card.p001 .program-card__img {
  height: 214px;
  background-size: cover;
  border-radius: 0 0 24px 24px;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
}

.program-card.p002 .program-card__info {
  min-height: 120px;
  padding: 32px 20px 0;
}

.program-card.p002 .program-card__img {
  height: 246px;
  background-size: cover;
  border-radius: 0 0 24px 24px;
  display: flex;
  flex-direction: column-reverse;
  background-position: 0 0;
  padding: 20px;
}

.program-card.p003 {
  height: 240px;
  padding: 32px 20px 20px;
}

.program-card.p004 {
  height: 240px;
  padding: 32px 20px 20px;
}

.program-card.p004 .title {
  color: #ffffff;
}

.program-card.p004 .sub {
  color: #ffffff;
}

.title {
  font-family: 'Pretendard';
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.04em;
  color: #212121;
}

.sub {
  font-family: 'Pretendard';
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #616161;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags > * {
  margin-top: 4px;
  margin-right: 4px;
}

.tags > *:last-child {
  margin-right: 0;
}

.program-tags {
  padding: 4px 6px;
  background-color: #ffffff;
  border-radius: 4px;

  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  color: #000000;
}