.event-card {
  width: 100%;
  height: 390px;
  border-radius: 24px;
  background-size: cover;
  padding: 32px 20px;
}
.event-card__title {
  font-family: 'Pretendard';
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.04em;
}
.event-card__sub {
  margin-bottom: 16px;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
}
.event-card__sub > span {
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  margin-right: 4px;
  margin-bottom: 2px;
}

.event-card.E001 {
  color: #ffffff;
}
.event-card.E001 span {
  background-color: #ffffff;
}

.event-card.E002 {
  color: #212121;
}
.event-card.E002 span {
  background-color: #212121;
}
